@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Open+Sans+Condensed:300,700);
body {
  font-family: 'Open Sans', sans-serif;
}

a {
  display: inline-block;
  
  color: inherit;
  text-decoration: none;
}
.row.mt { margin-top: 1.25em; }
.row.mb { margin-bottom: 1.25em; }
.row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
    *zoom: 1;
}
.pad { padding: 15px; }
.spad { padding: 5px; }
.lpad { padding: 20px;}
.ar { text-align: right; }
.logo {
  color: hsl(0, 0%, 100%);
  font-size: 18px; 
  text-transform: lowercase;
}
.logo span:first-child {
  font-weight: 400;
}
.logo span:last-child {
  color: hsl(0, 0%, 70%);
  font-weight: 300;
}
nav.menu a {
  margin: 0 7px;
  color: hsl(0, 0%, 70%);
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}
nav.menu a:last-child {
    margin: 7px 0 7px 7px;
}
nav.menu a.current {
  color: hsl(0, 0%, 100%);
}
.top-msg {
  border-bottom: 5px solid hsla(0, 0%, 90%, .3);
  
  color: hsl(0, 0%, 40%);
  font-size: 13px;
  font-weight: 300;
}
.breadcrumb a {
  transition: color .5s;
}
.breadcrumb a:hover {
  color: hsl(0, 0%, 20%);
}
/* .breadcrumb a:after {
  content: '\00a0\00a0\002F\00a0\00a0';
  color: hsl(0, 0%, 70%);
}
.breadcrumb a:last-child:after {
  content: '\00a0\00a0\002F\00a0\00a0 now you\0027re here';
  color: hsl(0, 0%, 70%);
} */
a.primary {
  color: hsl(0, 0%, 70%);
  transition: color .5s;
}
a.primary:hover {
  color: hsl(195, 73%, 58%);
}
a.underline {
  color: hsl(0, 0%, 70%);
}
a.underline:hover:after {
  content: '';
  display: block;
  width: inherit;
  height: 2px;
  background-color: hsl(195, 73%, 58%);
  margin-bottom: -2px;
  animation: link .9s ease;
}
@keyframes link {
  from { width: 0; }
  to   { width: 100%;}
}
/* Topic */
.rounded {
  overflow: hidden;
}
.rounded.top {
  border-radius: 4px 4px 0 0;
}
.rounded.all {
  border-radius: 4px;
}
.forum-category {
  background-color: hsl(195, 73%, 58%);
  
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 13px;
  text-shadow: 0 1px 1px hsl(195, 73%, 40%);
}
.forum-head > .column {
  background-color: hsl(206, 35%, 13%);
  border-right: 1px solid hsl(212, 35%, 15%);
  border-left: 1px solid hsl(212, 28%, 12%);
  
  color: hsl(0, 0%, 100%);
  font-weight: 300;
  font-size: 12px;
  text-shadow: 0 1px 1px hsl(0, 0%, 0%);
  text-align: center;
}
.forum-head > .column:first-child {
  text-align: left;
  border-left: none;
}
.forum-head > .column:last-child {
  border-right: none;
}
.forum-topic > .column {
  min-height:85px;
  max-height:85px;
  background-color: hsl(0, 0%, 96%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
  color: hsl(0, 0%, 50%);
  font-size: 12px;
}
.forum-topic > .column:first-child {
  color: hsl(0, 0%, 60%);
  font-size: 30px;
  text-align: center;
}
.forum-topic > .column:nth-child(n+3) {
  text-align: center;
}
.forum-topic > .column:last-child {
  text-align: left;
}
.forum-topic a {
  transition: color .5s;
  
  color: hsl(195, 73%, 58%);
  font-weight: 600;
}
.forum-topic a:hover {
  color: hsl(195, 73%, 48%);
}
.forum-topic span {
  display: block;
  margin: 0 0 2px 0;
}
.overflow-control {
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.forum-topic .column:nth-child(2) span.overflow-control {
  width: 70%;
}
.forum-topic span.center {
  padding-top: 10px;
}
.normal {
  background-color: hsl(0, 0%, 96%);
  
  color: hsl(0, 0%, 50%);
  font-size: 12px;
}
.normal h1.inset {
  background-color: hsl(206, 35%, 13%);  
  margin: -20px -20px 20px -20px;
  
  color: hsl(0, 0%, 100%);
  padding: 15px 20px 15px 20px;
  font-size: 12px;
  font-weight: 300;
}
.normal p {
  margin: 0 0 40px 0;
  line-height: 20px;
}
.normal p:last-child {
  margin: 0;
}
#top-button {
  display: none;
  width: 27px;
  background-color: hsl(206, 35%, 13%);
  position: fixed;
  right: 60px;
  bottom: 20px;
  border-radius: 3px;
  cursor: pointer;
  
  padding: 5px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
#top-button.show {
  display: block;
}

.blockquote { border:none;font-size:15px;}
.blockquote.last { position:relative;padding-left:30px;}
.blockquote.last:before { content: '"';font-size: 48px;display: inline-block;position: absolute;left: 4px;top: 0;}

@media only screen and (max-width: 768px) {
  header {
    fz
  }
  .logo,
  nav { 
    text-align: center; 
  }
  nav.menu a {
    margin: 7px;
  }
  .breadcrumb,
  .forum-head > .column:nth-child(2),
  .forum-head > .column:nth-child(3),
  .forum-topic > .column:first-child,
  .forum-topic > .column:nth-child(3),
  .forum-topic > .column:nth-child(4),
  #top-button {
    display: none;
  }
  .forum-category > span,
  .forum-category > .column:first-child,
  .forum-head > .column,
  .forum-topic > .column,
  .normal,
  .normal h1.inset {
    font-size: 10px;
    text-align: left;
  }
  .forum-head > .column {
    color: hsl(0, 0%, 100%);
    border: none;
    font-weight: 600;
  }
 
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5rem;
  *zoom: 1; }
  .row:before, .row:after {
    content: " ";
    display: table; }
  .row:after {
    clear: both; }
  .row.collapse > .column,
  .row.collapse > .columns {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    float: left; }
  .row.collapse .row {
    margin-left: 0;
    margin-right: 0; }
  .row .row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    *zoom: 1; }
    .row .row:before, .row .row:after {
      content: " ";
      display: table; }
    .row .row:after {
      clear: both; }
    .row .row.collapse {
      width: auto;
      margin: 0;
      max-width: none;
      *zoom: 1; }
      .row .row.collapse:before, .row .row.collapse:after {
        content: " ";
        display: table; }
      .row .row.collapse:after {
        clear: both; }

.column,
.columns {
  position: relative;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  width: 100%;
  float: left; }

@media only screen {
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .small-1 {
    position: relative;
    width: 8.33333%; }

  .small-2 {
    position: relative;
    width: 16.66667%; }

  .small-3 {
    position: relative;
    width: 25%; }

  .small-4 {
    position: relative;
    width: 33.33333%; }

  .small-5 {
    position: relative;
    width: 41.66667%; }

  .small-6 {
    position: relative;
    width: 50%; }

  .small-7 {
    position: relative;
    width: 58.33333%; }

  .small-8 {
    position: relative;
    width: 66.66667%; }

  .small-9 {
    position: relative;
    width: 75%; }

  .small-10 {
    position: relative;
    width: 83.33333%; }

  .small-11 {
    position: relative;
    width: 91.66667%; }

  .small-12 {
    position: relative;
    width: 100%; }
 }
@media only screen and (min-width: 40.063em) {
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .medium-1 {
    position: relative;
    width: 8.33333%; }

  .medium-2 {
    position: relative;
    width: 16.66667%; }

  .medium-3 {
    position: relative;
    width: 25%; }

  .medium-4 {
    position: relative;
    width: 33.33333%; }

  .medium-5 {
    position: relative;
    width: 41.66667%; }

  .medium-6 {
    position: relative;
    width: 50%; }

  .medium-7 {
    position: relative;
    width: 58.33333%; }

  .medium-8 {
    position: relative;
    width: 66.66667%; }

  .medium-9 {
    position: relative;
    width: 75%; }

  .medium-10 {
    position: relative;
    width: 83.33333%; }

  .medium-11 {
    position: relative;
    width: 91.66667%; }

  .medium-12 {
    position: relative;
    width: 100%; }
}
@media only screen and (min-width: 64.063em) {
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left; }

  .large-1 {
    position: relative;
    width: 8.33333%; }

  .large-2 {
    position: relative;
    width: 16.66667%; }

  .large-3 {
    position: relative;
    width: 25%; }

  .large-4 {
    position: relative;
    width: 33.33333%; }

  .large-5 {
    position: relative;
    width: 41.66667%; }

  .large-6 {
    position: relative;
    width: 50%; }

  .large-7 {
    position: relative;
    width: 58.33333%; }

  .large-8 {
    position: relative;
    width: 66.66667%; }

  .large-9 {
    position: relative;
    width: 75%; }

  .large-10 {
    position: relative;
    width: 83.33333%; }

  .large-11 {
    position: relative;
    width: 91.66667%; }

  .large-12 {
    position: relative;
    width: 100%; }

  [class*="column"] + [class*="column"]:last-child {
    float: right; }

  [class*="column"] + [class*="column"].end {
    float: left; }

  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important; }

  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important; }

  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important; } }