/*************************************
*** ┌┈┈┈┈┈┈┈┈┈┈┈┈┈┐ ***
*** ┊  Powered By ChuKeer.com  ┊ ***
*** ┊  Last Modify 2012-12-01  ┊ ***
*** └┈┈┈┈┈┈┈┈┈┈┈┈┈┘ ***
*** ┌┈┈┈┈┈┈┈┈┈┈┈┈┈┐ ***
*** ┊Version:jquery.rating.1.0 ┊ ***
*** └┈┈┈┈┈┈┈┈┈┈┈┈┈┘ ***
*** ┌┈┈┈┈┈┈┈┈┈┈┈┈┈┐ ***
*** ┊mahongtao_2000@hotmail.com┊ ***
*** └┈┈┈┈┈┈┈┈┈┈┈┈┈┘ ***
*************************************/
.rating{max-width:120px;width:100%!important;height:20px;padding:0px;margin:0px;}
.rating li{list-style:none;float:left;width:20px;height:20px;padding:0px;margin:0px;}
.rating li+li{margin-left:2px;}
.rating li a{position:relative;display:block;width:20px;height:20px;padding:0px;margin:0px;overflow:hidden;text-indent:-100px;background-repeat:no-repeat;text-decoration:none;}
.rating li a:hover{background-color:transparent;text-decoration:none;}
.rating li .hover{background-position:0px -20px;}
.rating li .full{background-position:0px -40px;}
.rating li a::after{content:"\f005 ";color:#929292;font-size:21px;font-family:fontawesome;position:absolute;left:0;top:0;opacity:1;z-index:5;text-indent:0;}
.rating li a:hover::after{color:#FCC506;}
.rating li a.full::after{color:#FCC506;}
.small-rating .rating li{width:17px;height:17px;}
.small-rating .rating li a::after{font-size:17px;}

.error{
    color:red;
}
